{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <div class="row">
        {% for i,j,k,l,m in zipado %}
            <div class="col-sm-4 ">
            <div class="card w-75 text-center m-5 shadow">
                <div class="card-body">
                    <h1>{{i}}</h1>
                    <h1 class="card-text">{{l}}</h1>
                    <h1 class="card-text">{{j}}</h1>
                    <h1 class="card-text">{{k}}</h1>
                    <h1 class="card-text">{{m}}</h1>
                </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}